// Fonts
$heading-font-stack: 'Montserrat', sans-serif;
$body-font-stack: 'Roboto', sans-serif;

// Colors
$primary: hsl(209, 27%, 35%);
$primary-lighter: hsl(209, 18%, 46%);
$primary-lightest: hsl(210, 14%, 59%);
$primary-dark: hsl(208, 50%, 20%);
$primary-darker: hsl(208, 34%, 18%);
$primary-darkest: hsl(209, 33%, 16%);

$white: hsl(0, 0%, 100%);
$offwhite: hsl(240, 19%, 95%);
$offwhite-med: hsl(240, 10%, 97%);
// $grey: hsl(0, 0%, 80%);
$grey: hsl(240, 5%, 80%);
$dark-grey: hsl(240, 5%, 60%);

// Should these be called "success", "warning", etc.? Seems to be the standard
$green: hsl(131, 30%, 41%);
// $red: ;

// Side Menus
$width-extended: 240px;
$width-collapsed: 54px;
$nav-icon-size: 30px;

// Standards
$radius: 4px;
$padding: 25px; // Might require more finesse than this

// Animations
$btn-transition-duration: 0.15s;

// ===== Bootstrap Overrides =====
$card-cap-bg: $white;
$breadcrumb-bg: $offwhite;
$pagination-bg: $primary;
$pagination-active-bg: $primary;
$pagination-color: $primary;

// ===== Bootstrap Imports =====
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap-vue/src/index.scss";